.flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  padding-right: 52px;
  justify-content: center;
  align-items: center;
}

.card {
  /* padding-top: 3%; */

  perspective: 1000px;
  width: 300px;
  height: 400px;
  position: relative;
  margin-left: 60px;
  background-color: hsla(0, 0%, 47%, 0.067);
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* margin-top: 5%; */
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  padding-top: 3%;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
}

.card-front {
  background-color: #fff;
  color: #fff;
}

.card-back {
  background-color: #f8f9fa;
  color: #212529;
  transform: rotateY(180deg);
  margin-bottom: 20px;
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #d21d41;
  color: #ffff;
  font-size: medium;
  margin-bottom: 40px;
  /* margin-top: 10px; */
}

@media (max-width: 400px) {
  .flex {
    margin-left: 0%;
  }
}

@media (max-width: 320px) {
  .flex {
    margin-left: 0%;
    align-self: center;
  }
}