<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Explore</h3>
            <a href="index.html"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="about.html"> <i class="fas fa-arrow-right"></i> About Us</a>
            <a href="gallery.html"> <i class="fas fa-arrow-right"></i> Gallery </a>
            <a href="events.html"> <i class="fas fa-arrow-right"></i> Events </a>
            <a href="contact.html"> <i class="fas fa-arrow-right"></i> Contact Us </a>
        </div>

        <div class="box">
            <h3>Reach out to us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>

        </div>

    </div>

    <div class="credit"> Created by <span> &ltCode Invders/&gt </span>with ❤️ | all rights reserved! 2024 ® </div>

</section>