<header class="header">

    <a href="index.html" class="logo"> <i class="fas fa-user-graduate"></i> Sahyadri public school </a>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="programs.html">Programs</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="admission.html">Admissions</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="teacher-training.html">Teacher Training</a></li>
            <li><a href="career.html">Career</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="donation.html">Donation</a></li>
        </ul>
    </nav>

</header>